<!DOCTYPE html>
<html ng-app="adherence-partials">

<link rel="stylesheet" type="text/css" href="../css/doctor_patientgraph.css">

<body>
  <!-- <div ng-controller='NavController as tab' ng-include src="'/partials/navbar/navbar_doctor.html'"></div> -->
  <div class="row" ng-controller="patient_graphCtrl">
    <div class="col-md-4">
      <h3 id="patientlist-title">Patients' List</h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for a patient">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
      </div>

      <div class="list-group" >
        <a href="" ng-repeat="x in sortedName track by $index" class="list-group-item" ng-click="patientClicked(x)">
          <h4 class="list-group-item-heading">{{x}}</h4>
        </a>
      </div>
    </div>

  <div class="col-md-8">
    <div id="checkbox-left">

      <div class="checkbox" >
        <label>
          <input type="checkbox" value="" ng-click="SelectALL()">
          <span class="checkboxlabel">Select all</span>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="unselectallcheckboxes" ng-click="unSelectALL()">
          Un-Select all
        </label>
      </div>
    </div>

    <div id="radios-right">
      <div class="radio">
      <label>
        <input type="radio" ng-model="days" value="7" ng-change="WeekMonth(days)">
        Last Week
      </label>
      </div>
      <div class="radio">
      <label>
      <input type="radio" ng-model="days" value="30" ng-change="WeekMonth(days)">
        Last Month
      </label>
      </div>
    </div>

    <div class="col-xs-12">
        <div id="myChart"></div>
    </div>
  </div>
</div>
</body>
</html>
