

.page{
margin-left: 50px;

}
.container1{
	margin-right: 30%;
}
.menu{
	overflow-x: hidden;
	position: relative;
	right:0;
}
.input-group{
	margin-left: 0px;
}

.menu-open{
	right: 231px;
}
.menu-open.menu-side{

	right: 0px; 
}



.menu-side,
.menu-toggle,
.menu{
	-webkit-transition: right 0.2s ease;
	-moz-transition: right 0.2s ease;
	transition: right 0.2s ease;

}

.menu-side{
	background-color: #333;
	border-left: 1px solid #000;
	color: #fff;
	position: fixed;
	box-sizing:border-box;
	top:0px;
	right:-211px;
	width: 210px;
	height: 100%;
	padding: 10px;
}

.menu-toggle{
	position: absolute;
	right: 209px;
	top: 50%;
	width: 20px;
	height: 40px;
	background-color: black;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	border-bottom-right-radius: 7px;
	box-shadow: 1px 0 3px rgba(0 ,0, 0,1);

}

.menu-toggle:before{

	content: " \2190";
	font-weight: 600;
	color: #fff;
}

.menu-side.menu-open.menu-toggle:before{
	content: "\2190";

}