
.tab-content{
margin-left: 50px;

}
.menu{
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-open{
	left: 231px;
}
.menu-open.menu-side{

	left: 0px; 
}



.menu-side,
.menu-toggle,
.menu{
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
	transition: left 0.2s ease;

}

.menu-side{
	background-color: #333;
	border-right: 1px solid #000;
	color: #fff;
	position: fixed;
	box-sizing:border-box;
	top:0px;
	left:-231px;
	width: 210px;
	height: 100%;
	padding: 10px;
}

.menu-toggle{
	position: absolute;
	right: -40px;
	top: 40%;
	width: 20px;
	height: 40px;
	background-color: black;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 0 3px rgba(0 ,0, 0,1);

}

.menu-toggle:before{

	content: " \2192";
	font-weight: 600;
	color: #fff;
}

.menu-side.menu-open.menu-toggle:before{
	content: "\2190";

}