.avatar {
  width:200px;
  height:200px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.avatar img {
  position: absolute;
  max-height: 200px;
  max-width:200px;
    
  
}