<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<html xmlns = "http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
        <script src="http://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
        <script type="text/javascript" src="../js/resetPassword.js"></script>
    </head>
    <body>
        <form method="POST" name="ForgotPasswordForm" id="ForgotPassword"
              onSubmit = "passwordReset(this)">
            Email Address: <input type = "text" name = "email"/><br>
        </form>

        <script type="text/javascript">
        	function passwordReset(form){
        		alert("email: " + form.email.value);
        		resetPassword(form.email.value, "login.html");
        	}
        </script>
    </body>
</html>
