<nav class="apb-nav">
  <div class="apb-logo">
    <a href="#"><span class="">APB System</span></a>
  </div>
  <div class="apb-nav-box">
    <div class="apb-nav-text">
      Welcome, {{currentUser.get('firstname')}}
    </div>
    <div class="apb-nav-tool">
      <a href="#/patient/profile"><i class="fa fa-user"></i>&nbsp Ilya Mikhelson</a>
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="apb-badge">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="apb-badge">1</span>
      </a>
    </div>
  </div>
</nav>
<div class="apb-side">
  <a href="#/doctor/doc_patient" class='apb-a'>
    <i class="fa fa-stethoscope"></i>&nbsp Prescription</a>
  <a href="#/patient/home" class='apb-a'>
    <i class="fa fa-plus-square"></i>&nbsp Med Cabinet</a>
  <a href="#" class='apb-a' >
    <i class="fa fa-calendar-check-o"></i>&nbsp Appointment</a>
  <a href="#/doctor/home" class='apb-a'>
    <i class="fa fa-user-md"></i>&nbsp My Doctor</a>
  <a href="#" class='apb-a'>
    <i class="fa fa-cog"></i>&nbsp Setting</a>
</div>
