html, body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100%;
}

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin: 0px;
}


.apb-nav {
  background-color: #fff;
}

.apb-logo{
  color: #fff;
  font-weight: 400;
  width: 200px;
  height:64px;
  background: #0089Ec;
  float: left;
  text-align: center;
  font-size: 1.6em;
}

.apb-logo a:hove{
  text-decoration: none;
}

.apb-nav-box{
  margin-left: 200px;
  padding-left: 30px;
  color: #0089Ec;
  overflow: auto;
}

.apb-nav-text{
  font-size: 1.2em;
  display: inline-block;
}

.apb-nav-tool{
  padding-right: 30px;
  float: right;
  display: inline-block;
}

.apb-nav-tool a{
  margin-right: 30px;
  color: #0089Ec;
}

.apb-side{
  float: left;
  padding-top: 50px;
  width: 200px;
  height: calc(100% - 66px);
  background-color: #313131;
}

.apb-side .apb-a{
   font-size: 1em;
   display: block;
   letter-spacing: 1px;
 }


 .apb-a{
  border-left: 4px solid #313131;
  color:#bbb;
  padding: 15px 30px;
}

.apb-a:hover{
  border-left: 4px solid #ddd;
  background-color: #414141;
  color: #fff;
}


.current{
  border-left: 4px solid #ddd;
  background-color: #414141;
  color: #fff;
}

.apb-badge{
    width: 18px;
    height: 18px;
    position: relative;
    top: -10px;
    margin: 0 -.8em;
    border-radius: 9px;
    color: #fff;
    background-color: #f96868;
    padding: 3px;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}




sdafasdfas
