body, html {
width: 100%;
margin: 0%;
}

#name{
  font-size: 18;
  font-weight: bold;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#medcabinet{
  margin-top: 60px;
}

#searchbar {
font-family: 'PT Sans', sans-serif;
margin-top: 10px;
margin-bottom: 20px;
font-size:20px;
border-radius:0px;

}

#panelheading{
  font-family: 'PT Sans', sans-serif;
  font-size:20px;
}

#buttongroup{
  font-family: 'PT Sans', sans-serif;
  float:right;
}

#pill{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#suggestion{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#refill{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#history{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#img{
  margin-bottom: 15px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#firstmed{
  margin-bottom: 15px;
  background-color: #F4FAE2;
}

#secondmed{
  margin-bottom: 15px;
  background-color: #B0E0E6;
}

.title{
  font-family: arial;
  font-size: 14;
  font-weight: bold;
}

#search-box {
position: relative;
width: 30%;
margin-bottom: 15px;
}

#search-form 
{
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}
#search-text 
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 40px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color: #4d90fe;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}
