body, html {
width: 100%;
margin: 0%;
}

#name{
  font-size: 18;
  font-weight: bold;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#medcabinet{
  margin-top: 60px;
}

#searchbar {
font-family: 'PT Sans', sans-serif;
margin-top: 10px;
margin-bottom: 20px;
font-size:20px;
border-radius:0px;

}

#panelheading{
  font-family: 'PT Sans', sans-serif;
  font-size:20px;
}

#buttongroup{
  font-family: 'PT Sans', sans-serif;
  float:right;
}

#pill{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#suggestion{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#refill{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#history{
  font-family: 'PT Sans', sans-serif;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#img{
  margin-bottom: 15px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#firstmed{
  margin-bottom: 15px;
  background-color: #F4FAE2;
}

#secondmed{
  margin-bottom: 15px;
  background-color: #B0E0E6;
}

.title{
  font-family: arial;
  font-size: 14;
  font-weight: bold;
}
