/*
    This file is used to set up the style of task check list, to see whether the 
    patient has taken the pills on schedule or not
*/
/* 
    Created on : Oct 25, 2015, 7:30:57 PM
    Author     : frezmecritus
*/

body {
  background: #3498db;    
}

.papers {
  background-color: white;
  height: 450px;
  padding: 20px;
  width: 330px;
  margin: 5% 5% 8%;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
    
}

.list{
  width: 240px;
  height: 50px;
  background: #d0d6d4;
  margin: 35px 45px;
  position: relative;
}

.notdone{
  background: #FF4040 !important;
}

.halfdone{
  background: #FFFF00 !important;
}

.done{
  background: #5a8445 !important;
}

/* the square */
.uncheck:before{
  content:"";
  position: absolute;
  top: 14px;
  left: -43px;
  width: 22px;
  height: 22px;
  background: #d0d6d4;
}

/* the left part of the cross sign */
.notdone:before{
	content: "";
	position: absolute;
	top: 10px;
	left: -38px;
	width: 9px;
	height: 30px;
	transform: rotate(-45deg);
	background: #FF4040;
}

/* the right part of the cross sign */
.notdone:after{
	content: "";
	position: absolute;
	top: 10px;
	left: -38px;
	width: 9px;
	height: 30px;
	transform: rotate(45deg);
	background: #FF4040;
}

/* the check sign */
.done:before{
	/*Add another block-level blank space*/
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	left: -43px;

	/*Make it a small rectangle so the border will create an L-shape*/
	width: 20px;
	height: 34px;
	
	/*Add a green border on the bottom and left, creating that 'L' */
	border: solid #5a8445;
	border-width: 0 10px 10px 0;

	/*Rotate the L 45 degrees to turn it into a checkmark*/
	transform: rotate(45deg);
}

/* the check sign */
.halfdone:before{
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	left: -42px;
	width: 20px;
	height: 36px;
	border: solid #FFFF00;
	border-width: 0 8px 8px 0;
	transform: rotate(45deg);
}

/* a cross on the check sign */
.halfdone:after{
	content: "";
	position: absolute;
	top: 12px;
	left: -29px;
	width: 8px;
	height: 22px;
	transform: rotate(-45deg);
	background: #FFFF00;
}

.word {
  padding: 0% 8%;
  font-size: 35px;    
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 4px;
}

.done > .word {
  color: white;
}

.board{
  width: 380px;
  height: auto;
  background: #5a8445;
  padding: 5px 0px;
  clear: both; 
  overflow: visible;
  margin: 7% auto;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 5px 0px #476d3b;
  position: relative;
}

/* the gray clamp */
.board:before{
  content: "";
  width: 150px;
  height: 50px;
  background: #a3aca9;
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 99;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   box-shadow: 0px 2px 0px #88918e;
}

/* blue circle on the clamp */
.board:after{
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 200px;
  background: #3498db;
  top:-35px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 999;
  border: 10px solid #a3aca9;
}