<title>
  My Profile</title>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>



<div id="appointments">
  <h2><i class="fa fa-history"></i>  Appointments History</h2>
  <div class="example-wrap">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Doctor</th>
            <th>Clinic</th>
            <th>Admitted For</th>
            <th>Last Appointment</th>
            <th>Next Appointment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
          <tr>
            <td>2</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
          <tr>
            <td>3</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
          <tr>
            <td>4</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
          <tr>
            <td>5</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
          <tr>
            <td>6</td>
            <td>name</td>
            <td>
              Clinic
            </td>
            <td>
              concern
            </td>
            <td>date</td>
            <td>date</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
