<body data-spy="scroll" data-target="#myScrollspy">

    <div class="container" id="medcabinet">
        <!-- Med Cabinent -->
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#499de2; text-align:center; font-size:18px">
                <div>Your Medication Cabinent</div>
            </div>
            <!-- Panel Heading -->

            <div class="panel-div table">
                <div class="container-fluid">
                    <form action='/search' id='search-form' method='get' target='_top'>
                        <div id='search-box' class="input-group" style="width:30%; margin-top: 20px; margin-bottom:15px">
                            <input id='search-text' name='q' placeholder='Search Your Med' class="form-control" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id='search-button' type='button'>Search</button>
                              </span>
                        </div>
                    </form>
                    <!-- Search Box -->

                    <div class="row" id="med">
                        <div class="col-md-9">
                            <div class="list-group-item table" id="medication" style="display: none;">
                                <!--container for the first item in the list group-->
                                <div class="row">
                                    <h3 class="firstmed" style="text-align:center"></h3>

                                    <!--First Part-->
                                    <div class="col-sm-3" id="pillcontent">
                                        <div id="img"><img src="patient/assets/images/capsule-icon.png" class="img-responsive" alt="Responsive image" width="64" height="64"></div>
                                        <!-- Pill Icon Appears Here-->
                                        <div class="title" id="pillInfo">Pill Info</div>
                                        <div class="pNameAndInstruction"></div>
                                        <!-- Pill Name Appears Here-->
                                    </div>
                                    <!--First Part-->

                                    <!--Second Part -->
                                    <div class="col-sm-3" id="pillcontent">
                                        <div id="img"> <img src="patient/assets/images/doctor-icon.png" class="img-responsive" alt="Responsive image" width="64" height="64"> </div>
                                        <!-- Doctor's Suggestion Icon Appears Here-->
                                        <div class="title">Doctor's Suggestion</div>
                                        <div class="suggestion"></div>
                                        <!-- Doctor's Suggestion Appears Here-->
                                    </div>
                                    <!--Second Part -->

                                    <!--Third Part -->
                                    <div class="col-sm-3" id="pillcontent">
                                        <div id="img"><img src="patient/assets/images/prescription-icon.png" class="img-responsive" alt="Responsive image" width="64" height="64"></div>
                                        <!-- Refill Icon Appears Here-->
                                        <div class="title">Refill Information</div>
                                        <div>10 Pills Left</br>Refill in 5 Days</div>
                                        <!-- Refill Info Appears Here-->
                                    </div>
                                    <!--Third Part -->

                                    <!--fourth Part -->
                                    <div class="col-sm-3" id="pillcontent">
                                        <div id="img"><img src="patient/assets/images/Checklist-icon.png" class="img-responsive" alt="Responsive image" width="64" height="64"></div>
                                        <!-- Refill Icon Appears Here-->
                                        <div class="title">Reminder</div>
                                        <div>Take1: Morning&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-ok"></span></br>
                                            Take2: Afternoon&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-remove"></span></div>
                                        <!-- History Appears Here-->
                                    </div>
                                    <!--fourth Part -->

                                </div>
                                <!--List Group item1-->
                            </div>
                        </div>
                        <!-- The medication records -->

                        <div class="col-md-3" id="myScrollspy">
                            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="15">
                                <!-- <li class="active"><a href="#firstmed">Xanax</a></li> -->
                            </ul>
                        </div>
                        <!-- The side nav bar -->
                    </div>
                </div>
                <!-- /.container-fluid for panel body -->
            </div>
            <!-- Panel Body Ends here -->
        </div>
        <!-- Panel ends here -->
    </div>
    <!-- /.container for med cabinent -->
</body>
