<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>Doctor - Patient Prescription Page</title>
	<!--Add Bootstrap CSS & JS-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/my.css" media="screen" title="no title" charset="utf-8">

	<!--Add Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>

	<!--Add Angular Directives-->
	<script src="../../common/js/angular-app.js"></script>

	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="../js/my.js"></script>

	<!--	<style>

	body {
		/*background-color: #bdc3c7;*/
		font-family: "Helvetica Neue";
	}

	</style> -->
</head>

<body onload="toggleActive(document.getElementById('firstDrug'))">

	<div ng-controller='NavController as tab' ng-include src="'/partials/navbar/navbar.html'"></div>

	<div class="dashboard">

		<div class="title">
			<!-- <div class="input-group">
	            <input id ="search_text" type="text" class="form-control input-lg" placeholder="Medicine" />
	            <span class="input-group-btn">
	                <button class="btn btn-info btn-lg search_button" type="button">
	                    <i class="glyphicon glyphicon-search" id = "search_icon"></i>
	                </button></span>
    		</div> -->
			<i class="fa fa-chevron-left"></i>
			<span class='title-name' style="margin: 0 10px; font-size:24px">
				Today's Prescription
			</span>
			<i class="fa fa-chevron-right"></i>
		</div> <!-- title -->

		<div class="container my-panel"> <!-- dashboard panel groups -->
			<div id='morning' class="col-md-4"> <!-- first panel -->
				<div class="child-title">
					<img class='icon' src="../assets/images/coffee.png" alt="morning" />
					Morning
				</div>

				<div class=" child-panel"> <!-- first panel group content -->
					<ul class="list-group">
					    <li class="list-group-item topli" ><!-- first panel->firt medicine -->
							<a data-toggle="modal" data-target="#myModal"><img class='icon-small' src="../assets/images/info.png" alt="info" /></a>
							<button type="button" class="formodal">Tamiflu</button>
							<img class="condition icon-small" src="../assets/images/check.png" alt="" />
						</li>

							<div class="list-group-item subli"> <!-- first panel->firt medicine info-->
								<h4>Time:</h4>
								<p> 8:00 am</p>
								<div class='take-num'>
									<h4>
										Amount:
									</h4>
									<img class='icon-small' src="../assets/images/pills.png" alt="pills" />
									<span>
										x 10
									</span>
								</div>
							</div> <!-- list-group-item -->

						<li class="list-group-item topli" ><!-- first panel->2d medicine -->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/close.png" alt="close" /> <!-- cross icon -->
						</li>
						<li class="list-group-item"><!-- first panel->3d medicine -->
							<i class="fa fa-plus-square"></i>
							<span class="badge">10</span><!-- how many pills haven't taken icon -->
							Altace
						</li>

				  </ul>
				</div>

			</div>
			<div id='noon' class="col-md-4"><!-- Second panel -->
				<div class="child-title">
					<img class="icon" src="../assets/images/noon.png" alt="noon" />
					Afternoon
				</div>

				<div class=" child-panel"><!-- Second panel group content -->
					<ul class="list-group">
						<li class="list-group-item topli" > <!-- 2d panel ->1st medicine -->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/pill.png" alt="pill" />
						</li>

						<li class="list-group-item topli" > <!-- 2d panel ->2d medicine -->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/pill.png" alt="pill" />
						</li>

						<li class="list-group-item topli" ><!-- 2d panel ->3d medicine -->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/pill.png" alt="pill" />
						</li>


				  </ul>
				</div>
			</div>

			<div id='night' class="col-md-4"><!-- Third panel -->
				<div class="child-title">
					<img class='icon' src="../assets/images/night.png" alt="night" />
					Evening
				</div>

				<div class=" child-panel">
					<ul class="list-group"><!-- Third panel content-->
						<li class="list-group-item topli" ><!-- 3d panel -> 1st medicine-->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/pill.png" alt="pill" />
						</li>
						<li class="list-group-item topli" ><!-- 3d panel -> 2st medicine-->
							<img class='icon-small' src="../assets/images/info.png" alt="info" />
							<button type="button" class="formodal" data-toggle="modal" data-target="#myModal">Altace</button>
							<img class="condition icon-small" src="../assets/images/pill.png" alt="pill" />
						</li>
				   </ul>
				</div>
			</div>
		</div>
	</div>




</body>


</html>
