<div class="container">
	<div class="row">
		<div class="time_info">
		<div class="date w3-tag w3-red">{{date}}<span id="th">th</span></div>
		<div class="month_year">
			<span class="month">{{month}}</span>
			<!-- <span class="year">{{year}}</span> -->
		</div>
		<div class="day_of_week">{{day_of_week}}</div>
		</div>

		<div class="pill_dashborad">
			<div ng-repeat = "x in pill_info| orderBy:'time'" ng-click="show_detail()">
				<span class="checked_span check_mark" ng-hide="checked">&#9989;</span>
				<span class="unchecked_span check_mark" ng-hide="unchecked">&#128504;</span>
				<div class="pill_info_content">
					<p>{{x.time}}</p>
					<p>{{x.name}}</p>
					<p>{{x.dose}}</p>
				</div>
			</div>
		</div>
		<div class="pill_detail" ng-hide="showDetail">
			<p>{{x.intro}}</p>
		</div>
	</div>
</div>